html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 100%;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #fff;
}
body {
  font-size: 100%;
  line-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  color: #000;
  background: transparent url("../img/html6_body_bg.jpg") no-repeat 50% 0;
  position: relative;
  min-height: 100%;
}
/*----------------------Default----------------------------*/

blockquote {
  margin: 1em 40px;
}

.black-text {
  color: black;
}

dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
button[disabled],
input[disabled] {
  cursor: default;
}
iframe {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 12px;
  height: 12px;
  margin: 0;
  border: 0 none;
  background: transparent none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
p {
  margin: 0 0 1em 0;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5em 0;
  font-weight: bold;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  clear: both;
}
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
/*--------------------Helpers-----------------------*/

.hidden {
  display: none;
  visibility: hidden;
}
.clear,
.clear-left,
.clear-right {
  clear: both;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
.clearafter:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
* html .clearafter,
*:first-child + html .clearafter {
  zoom: 1;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.no-border {
  border: 0 none !important;
}
.no-margin {
  margin: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-bg {
  background: transparent none;
}
.a-left {
  text-align: left !important;
}
.a-right {
  text-align: right !important;
}
.a-center {
  text-align: center !important;
}
.no-list-style,
.no-list-style li {
  list-style: none !important;
  margin-left: 0 !important;
}
.mr-25 {
  margin-right: 25px;
}
/*--------------------------Header---------------------------*/

#header-inn {
  position: relative;
  overflow: hidden;
  clear: both;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 10px 0 10px;
}
#top-logo {
  float: left;
  position: relative;
}
@-webkit-keyframes heartbeat {
  0% {
    background-size: 100%;
  }
  3% {
    background-size: 70%;
  }
  10% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes heartbeat {
  0% {
    background-size: 100%;
  }
  2% {
    background-size: 70%;
  }
  6% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
#top-logo:hover:after {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
#top-menu {
  float: right;
  padding: 35px 0px 0 0;
  position: relative;
}
#top-menu a {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #00ff15;
  font: normal 16px/16px "Roboto", sans-serif;
  margin-left: 32px;
  padding: 5px 0 0 22px;
  text-shadow: 1px 1px 2px rgba(86, 64, 67, 0.5);
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
#top-menu a:hover {
  color: #be6c20;
}
.pseudo-menu {
  display: none;
}
/*--------------------------Sections--------------------------*/

.section-main {
  position: relative;
  overflow: hidden;
  clear: both;
}
.section-main > .section-inn {
  margin: 0 auto;
  width: 1200px;
  display: table;
  clear: both;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
#pets-bg {
  position: relative;
  overflow: hidden;
  clear: both;
  background: #ffffff;
}
.half-block {
  width: 50%;
  position: relative;
  margin-bottom: 47px;
}
/*-------------------------Services-------------------------*/

.services-provide-block {
  padding: 115px 0 0 0;
  position: relative;
}
.services-provide-block h3:first-child {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 30px;
  margin-bottom: 42px;
  opacity: 0;
  text-shadow: 2px 2px 2px rgba(86, 64, 67, 0.5);
}
.services-provide-block h3:first-child span {
  font-weight: 300;
}
.services-provide-block ul {
  margin-bottom: 10px;
  padding-right: 55px;
}
.services-provide-block ul li {
  position: relative;
  overflow: hidden;
  clear: both;
  color: #fff;
  padding: 5px 0 24px 99px;
  min-height: 79px;
  left: -1200px;
  text-shadow: 2px 2px 2px rgba(86, 64, 67, 0.5);
}
.services-provide-block ul li strong {
  display: block;
  clear: both;
  font-size: 22px;
  margin-bottom: 1px;
}
.services-provide-block ul li p {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}
.services-provide-block ul li.item-1 {
  background: transparent url("../img/html6_sprite02.png") no-repeat 0 0;
}
.services-provide-block ul li.item-2 {
  background: transparent url("../img/html6_sprite02.png") no-repeat 0 -474px;
}
.services-provide-block ul li.item-3 {
  background: transparent url("../img/html6_sprite02.png") no-repeat 0 -948px;
}
.services-provide-block ul li.item-1.active {
  background: transparent url("../img/html6_sprite02.png") no-repeat 0 -237px;
}
.services-provide-block ul li.item-2.active {
  background: transparent url("../img/html6_sprite02.png") no-repeat 0 -711px;
}
.services-provide-block ul li.item-3.active {
  background: transparent url("../img/html6_sprite02.png") no-repeat 0 -1185px;
}
a.to-employee-btn {
  float: left;
  text-decoration: none;
  color: #ff6501;
  margin-left: 80px;
  font-size: 19px;
  font-weight: 300;
  padding: 13px 16px;
  border: 2px solid #bac5ca;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
a.to-employee-btn:hover {
  background-color: #ff6501;
  color: #062e48;
  border-color: #fff;
}
#slider-wrap {
  width: 585px;
  position: relative;
  padding-top: 20px;
}
#slider {
  width: 585px;
  height: 666px;
  position: relative;
}
#slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#slider .slide img {
  max-width: 100%;
  border-radius: 50%;
}
#slider .slide:first-child {
  display: block;
}
.sli-links {
  text-align: center;
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  bottom: 40px;
}
.sli-links .control-slide {
  margin-left: 15px;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  text-indent: -9999px;
  background-color: #444;
  cursor: pointer;
  border: 3px solid #fafafa;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.sli-links .control-slide:first-child {
  margin-left: 0;
}
.sli-links .control-slide.active {
  background-color: #bb3c3c;
}
#slider .slide.flip {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: flip;
  -webkit-animation-duration: 1s;
  -moz-transform-origin: 50% 50%;
  -moz-animation: flip;
  -moz-animation-duration: 1s;
  -o-transform-origin: 50% 50%;
  -o-animation: flip;
  -o-animation-duration: 1s;
  -ms-transform-origin: 50% 50%;
  -ms-animation: flip;
  -ms-animation-duration: 1s;
  transform-origin: 50% 50%;
  animation: flip;
  animation-duration: 1s;
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@-moz-keyframes flip {
  0% {
    -moz-transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-ms-keyframes flip {
  0% {
    -ms-transform: rotateY(0deg);
  }
  100% {
    -ms-transform: rotateY(360deg);
  }
}
@-o-keyframes flip {
  0% {
    -o-transform: rotateY(0deg);
  }
  100% {
    -o-transform: rotateY(360deg);
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.services-main-title {
  margin: 0 auto;
  width: 80%;
  padding: 17px 0 28px 0;
  color: #ffffff;
  text-align: center;
  position: relative;
  display: block;
  clear: both;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  position: relative;
  top: -80px;
  opacity: 0;
  font-weight: bold;
}
.services-main-title:before {
  content: "";
  display: block;
  background: url(../img/html6_q_bg.png);
  width: 39px;
  height: 30px;
  margin-left: -20px;
  position: absolute;
  top: -40px;
  left: 50%;
}
.services-bottom-block {
  position: relative;
  clear: both;
  /*  min-height:240px; */

  padding-bottom: 50px;
  overflow: hidden;
  border-bottom: 2px solid #ff6501;
}
.services-bottom-block h4 {
  display: block;
  text-align: center;
  width: 75%;
  margin: 0 auto 41px;
  padding: 0;
  color: #ff0000;
  font: normal 300 18px/30px "Roboto", sans-serif;
}
.services-bottom-block button {
  display: block;
  font: normal 300 19px/44px "Roboto", sans-serif;
  border: 2px solid #bac5ca;
  border-radius: 4px;
  padding: 0px 22px;
  margin: 0 auto 0;
  color: #ff6501;
  background: #ffffff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.services-bottom-block button:hover {
  background-color: #ff6501;
  color: #062e48;
  border-color: #fff;
}
/* Responsive Tabs */

ul.resp-tabs-list {
  display: block;
  overflow: hidden;
  margin: 0 0 43px;
}
.resp-tabs-list li {
  display: inline-block;
  float: left;
  cursor: pointer;
  color: #377aaf;
  border: 2px solid #b5c3c9;
  border-radius: 4px;
  font: normal 300 18px/29px "Roboto", sans-serif;
  padding: 0px;
  width: 205px;
  text-align: center;
  background: #fff;
  margin: 0 10px 0 0;
  transition: all 0.3s ease 0s;
}
.resp-tabs-list li:hover,
h2.resp-accordion:hover {
  background: #b5c3c9;
  color: #fff;
}

.resp-tabs-list li.resp-tab-active,
h2.resp-accordion.resp-tab-active {
  background: #377aaf;
  color: #fff;
  border: 2px solid #377aaf;
}
h2.resp-accordion,
.resp-tab-content {
  display: none;
}
h2.resp-accordion {
  cursor: pointer;
  color: #377aaf;
  border: 2px solid #b5c3c9;
  border-radius: 4px;
  font: normal 300 18px/33px "Roboto", sans-serif;
  padding: 0px;
  text-align: center;
  background: #fff;
  margin: 0 10px 0 0;
  transition: all 0.3s ease 0s;
}
.resp-accordion .resp-arrow {
}
.resp-tab-content ul {
  font: normal 300 18px/20px "Roboto", sans-serif;
  color: #818181;
  padding-left: 16px;
}
.resp-tab-content ul li {
  list-style: none;
  margin: 0;
  padding: 0 0 0 32px;
  line-height: 30px;
  background: url("../img/html6_check.png") 0 11px no-repeat;
}

#about-us {
  background: transparent;
}
.middle-title {
  margin: 52px 0 30px 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #000000;
  text-align: center;
}
.middle-title span {
  font-weight: 300;
}
.middle-text {
  position: relative;
  overflow: hidden;
  clear: both;
  text-align: center;
  padding: 0 0 30px 0;
}
.middle-text p {
  margin: 0 auto 10px;
  color: #818181;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  width: 77%;
}

ul.list-of-employee {
  overflow: hidden;
  padding: 10px 0 60px 0;
}
#our-employee ul.list-of-employee li {
  width: 295px;
  float: left;
  text-align: center;
  cursor: pointer;
  color: #767676;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
#our-employee ul.list-of-employee li img {
  margin-bottom: 30px;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease;
}
#our-employee.current ul.list-of-employee li.flip img {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
ul.list-of-employee li h4 {
  font-size: 28px;
  padding: 0 30px 12px 30px;
  color: #377aaf;
}
ul.list-of-employee li p {
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  margin: 0 30px;
  color: #818181;
}
#our-employee ul.list-of-employee li:hover {
  color: #062e48;
}

#about-us .our-awards-wrap {
  position: relative;
  overflow: hidden;
  clear: both;

  margin-bottom: 44px;
  -webkit-transition: opacity 4s ease;
  -moz-transition: opacity 4s ease;
  -o-transition: opacity 4s ease;
  transition: opacity 4s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}
#about-us.current .our-awards-wrap {
  opacity: 1;
  filter: alpha(opacity=100);
}
.our-awards-text {
  overflow: hidden;
  padding: 31px 20px 30px 44px;
}
.award-title {
  color: #767676;
  font-weight: 300;
  font-size: 30px;
}
.award-date {
  color: #062e48;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.our-awards-text p {
  color: #818181;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  font-weight: 300;
}
.our-awards-text .oh {
  overflow: hidden;
  padding: 0 0 0 30px;
}
.our-awards-slider {
  max-width: 415px;
  width: 100%;
  height: 281px;
  position: relative;
  float: left;
}
.our-awards-slider .award-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.our-awards-slider .award-img:first-child {
  display: block;
}
#prewbutton,
#nextbutton {
  display: block;
  text-indent: -9999px;
  position: absolute;
  background: transparent url("../img/arrows-sprite.png") no-repeat 0 0;
  width: 13px;
  height: 26px;
  cursor: pointer;
  top: 50%;
  margin-top: -13px;
  z-index: 5;
}
#prewbutton {
  left: 6px;
}
#nextbutton {
  right: 6px;
  background-position: 100% 0;
}

.about-our-clients-block {
  position: relative;
  overflow: hidden;
  clear: both;
}
.about-our-clients-block h4 {
  font-weight: bold;
  color: #767676;
  font-size: 25px;
  padding-bottom: 20px;
}
.about-our-clients-block p {
  color: #767676;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
ul.list-of-our-clients {
  overflow: hidden;
  padding: 56px 0 52px 0;
  border-bottom: 2px solid #e3e3e3;
}
#about-us ul.list-of-our-clients li {
  float: left;
  width: 236px;
  opacity: 0;
  cursor: pointer;
}
ul.list-of-our-clients li figure {
  display: block;
  margin: 0 auto 28px auto;
  background-color: #fff;
  text-align: center;
  width: 90px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
ul.list-of-our-clients li figure img {
  vertical-align: inherit;
}
ul.list-of-our-clients li h5 {
  color: #377aaf;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0 20px 15px 20px;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
ul.list-of-our-clients li p {
  color: #818181;
  font-size: 14px;
  margin: 0;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  padding: 0 15px;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
ul.list-of-our-clients li:hover h5,
ul.list-of-our-clients li:hover p {
  color: #062e48;
}

#contacts {
  background: #515f67 url("../img/html6_contactus_bg.jpg") 50% 0 repeat;
  padding-bottom: 75px;
}
.contacts-info {
  position: relative;
  overflow: hidden;
  clear: both;
  text-align: center;
  padding: 70px 0 55px 0;
  color: #fff;
}
.contacts-info strong {
  font-size: 30px;
  display: block;
  clear: both;
  margin-bottom: 25px;
}
.contacts-info strong span {
  font-weight: 300;
}
.contacts-info p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
}
ul.contacts-address {
  padding-right: 60px;
  float: left;
  width: 33%;
  clear: none;
  font-weight: 300;
}
.contacts-address li {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 0 25px;
}
.contacts-address li:first-child {
  margin: 0 0 20px;
  padding: 0;
  background: transparent;
}
.contacts-address li:first-child + li {
  background: url("../img/html6_sprite03.png") 0 4px no-repeat;
}
.contacts-address li:first-child + li + li {
  background: url("../img/html6_sprite03.png") 0 -74px no-repeat;
}
.contacts-address li:first-child + li + li + li {
  background: url("../img/html6_sprite03.png") 0 -154px no-repeat;
}
form.contact-form {
  display: block;
  overflow: hidden;
}
form.contact-form textarea {
  float: left;
  width: 48%;
  height: 170px;
  resize: none;
  overflow: auto;
  margin: 0 4% 0 0;
  color: #fff;
  outline: none;
  border: none;
  font: 300 18px "Roboto", sans-serif;
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form.contact-form textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
form.contact-form textarea::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
form.contact-form .f-right {
  float: right;
  width: 48%;
}
form.contact-form input[type="text"] {
  width: 100%;
  border: none;
  font: 300 18px "Roboto", sans-serif;
  padding: 7px 15px;
  margin: 0 0 23px 0;
  color: #fff;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form.contact-form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
form.contact-form input[type="text"]::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
form.contact-form button[type="submit"] {
  margin: 0;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  font: 300 18px "Roboto", sans-serif;
  text-transform: capitalize;
  padding: 10px 75px 10px 15px;
  border: 2px solid #b2b8bb;
  background: transparent url("../img/comment.png") no-repeat 93% 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
form.contact-form button[type="submit"]:hover {
  border-color: #fff;
  background-color: #fff;
  color: #4f5d65;
  background-image: url("../img/comment-hover.png");
}
form input[type="text"],
form textarea {
  background: #747f85;
}
form input[type="text"]:focus,
form textarea:focus {
  box-shadow: inset 0 0 2px #fff;
}
form input.error[type="text"],
form textarea.error {
  background: #6a5c62 url("../img/error.png") no-repeat 95% 15px;
}
div.success,
div.loading {
  color: #fff;
  padding: 10px 0px 0px;
}
div.error {
  padding: 10px 0px 0px 28px;
  color: #fff;
  background: transparent url("../img/error.png") no-repeat 0px 10px;
}
.map-section {
  height: 350px;
}
#map_canvas {
  width: 100%;
  height: 100%;
}
#content-boolean {
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#content-boolean {
  color: #062e48;
}
#content-boolean h1 {
  font-size: 15px;
  padding-top: 0;
}
#content-boolean p {
  font-size: 15px;
  margin: 0;
}
/*footer*/

footer[role="contentinfo"] {
  position: relative;
  overflow: hidden;
  clear: both;
  background-color: #fff;
}
.foo-inn {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  clear: both;
  width: 1200px;
  padding: 21px 0;
}
.foo-inn .foot-logo {
  display: block;
  float: left;
}
.foo-inn .copyright {
  line-height: 33px;
  font-size: 14px;
  color: #d3d6d8;
  padding-top: 1px;
  margin: 0 0 0 67px;
  float: left;
}
#bottom-menu {
  overflow: hidden;
  text-align: right;
  line-height: 20px;
  float: right;
  padding-top: 1px;
}
#bottom-menu a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #515f67;
  font-size: 14px;
  line-height: 33px;
  font-weight: bold;
  margin: 0;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: 0.4s ease;
}
#bottom-menu span {
  color: #377aaf;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 13px;
}
#bottom-menu a:hover {
  color: #062e48;
}
#bottom-menu a:first-child {
  margin-left: 0;
}
/*navigatio*/

.navigation-fixed {
  z-index: 5;
  right: 30px;
  top: 35px;
  position: fixed;
  width: 80px;
  display: none;
}
.navigation-fixed span {
  display: block;
  clear: both;
  cursor: pointer;
  color: #377aaf;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.navigation-fixed span.button-top {
  background: transparent url("../img/btns-sprite.png") no-repeat 50% 25px;
  margin-bottom: 20px;
  padding-bottom: 55px;
}
.navigation-fixed span.button-bottom {
  padding-top: 55px;
  background: transparent url("../img/btns-sprite.png") no-repeat 50% -157px;
}
/*media queries*/

@media only screen and (max-width: 1400px) {
  .navigation-fixed {
    display: none !important;
  }
}
@media only screen and (max-width: 1199px) {
  .section-main > .section-inn,
  #header-inn,
  .foo-inn {
    width: 100%;
  }
  .foo-inn {
    padding-left: 10px;
    padding-right: 10px;
  }
  .services-provide-block ul li,
  #sb.services-bottom-block .f-left {
    left: -120%;
  }
  #sb.services-bottom-block .f-right {
    right: -120%;
  }
  #our-employee ul {
    text-align: center;
  }
  #our-employee ul.list-of-employee li {
    float: none;
    vertical-align: top;
    display: inline-block;
    width: 24%;
  }
  #about-us ul.list-of-our-clients {
    text-align: center;
  }
  #about-us ul.list-of-our-clients li {
    float: none;
    vertical-align: top;
    display: inline-block;
    width: 19.5%;
  }
}
@media only screen and (max-width: 1024px) {
  #header-inn,
  .section-main > .section-inn {
    padding-left: 30px;
    padding-right: 30px;
  }
  .services-provide-block ul {
    padding-right: 0;
  }
  .services-provide-block {
    padding-top: 50px;
  }
  .services-bottom-block h4 {
    width: 100%;
    float: none;
  }
  .services-bottom-block button {
    margin: 25px auto 0;
    float: none;
  }
  #services > .section-inn > .f-left,
  #services > .section-inn > .f-right {
    float: none;
    clear: both;
    width: 100%;
    overflow: hidden;
  }
  #slider-wrap {
    margin: 0 auto;
    padding-top: 40px;
  }
  .services-main-title {
    width: 95%;
  }
  .services-main-title:before {
    display: none;
  }
  .our-awards-text img {
    display: none;
  }
  .contacts-address li {
    font-size: 16px;
  }
  #about-us ul.list-of-our-clients li {
    width: 185px;
  }
  #our-employee ul.list-of-employee {
    padding-bottom: 20px;
  }
  #our-employee ul.list-of-employee li {
    width: 48%;
    margin-bottom: 20px;
  }
  #sb.services-bottom-block .f-left {
    padding: 35px 130px 0 0;
  }
  #sb.services-bottom-block .f-right {
    padding: 35px 0 0 130px;
  }
  .services-main-title {
    font-size: 45px;
    line-height: 55px;
  }
  #top-menu {
    padding: 40px 20px 0 0;
  }
  .foo-inn {
    padding: 20px 5px;
  }
  .contacts-info {
    padding: 35px 0;
  }
  #contacts {
    padding-bottom: 50px;
  }
  ul.contacts-address {
    padding-right: 40px;
  }
  .middle-text p {
    width: 95%;
  }
  .our-awards-text {
    padding: 10px 20px;
  }
  ul.resp-tabs-list {
    margin-bottom: 20px;
  }
  .resp-tabs-list li {
    width: 150px;
  }
  .foo-inn .copyright {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 800px) {
  #header-inn,
  .section-main > .section-inn {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* tabs */

  .our-awards-text {
    padding: 20px;
  }
  ul.resp-tabs-list {
    display: none;
  }
  h2.resp-accordion {
    display: block;
    margin: 0 auto 10px;
  }
  .resp-tab-content-active {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  #about-us .our-awards-wrap {
    margin-bottom: 0;
  }
  #header-inn {
    padding-top: 35px;
  }
  #top-menu a {
    margin-left: 14px;
    font-size: 14px;
    line-height: 15px;
  }
  .services-main-title {
    font-size: 40px;
    line-height: 50px;
  }
  #sb.services-bottom-block .f-left {
    padding: 10px 125px 0 0;
  }
  #sb.services-bottom-block .f-right {
    padding: 10px 0 0 125px;
  }
  #top-menu {
    padding-right: 0;
  }
  .middle-title {
    margin-top: 30px;
  }
  ul.contacts-address {
    padding-right: 30px;
  }
  .contacts-address li {
    font-size: 12px;
  }
  #about-us ul.list-of-our-clients {
    text-align: center;
    padding-bottom: 25px;
  }
  #about-us ul.list-of-our-clients li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 30%;
  }
  #our-employee ul.list-of-employee {
    padding-bottom: 40px;
    text-align: center;
  }
  #our-employee ul.list-of-employee li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 49%;
  }
  #our-employee ul.list-of-employee li p {
    font-size: 17px;
    line-height: 25px;
  }
  #our-employee ul.list-of-employee li h4 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .our-awards-wrap {
    padding: 25px 0;
  }
  .our-awards-slider {
    float: none;
    clear: both;
    margin: 0 auto 10px auto;
  }
  .our-awards-text .oh {
    padding: 0 10px;
  }
  .foo-inn {
    background: none;
  }
  .foo-inn .foot-logo {
    float: none;
    display: inline-block;
    margin: 0 0 10px;
  }
  .foo-inn {
    text-align: center;
  }
  .foo-inn .copyright {
    float: none;
    text-align: center;
    margin: 0;
  }
  #bottom-menu {
    float: none;
    margin: 0 auto 10px;
    text-align: center;
  }
  form.contact-form textarea,
  form.contact-form input[type="text"] {
    font-size: 14px;
  }
  form.contact-form textarea {
    float: none;
    height: 100px;
    width: 100%;
    margin: 0 0 15px 0;
  }
  form.contact-form .f-right {
    float: none;
    clear: both;
    width: 100%;
  }
  form.contact-form button[type="submit"] {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 568px) {
  .services-bottom-block:before {
    display: none;
  }
  #slider,
  .half-block {
    margin-bottom: 15px;
  }
  #slider,
  #slider-wrap {
    width: 100%;
    padding-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  #bottom-menu a {
    margin-left: 0px;
    font-size: 15px;
  }
  .foo-inn {
    padding: 20px 0;
  }
  .map-section {
    height: 250px;
  }
  .contacts-info {
    padding: 25px 0;
  }
  .contacts-info strong {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .contacts-info p {
    font-size: 16px;
    line-height: 27px;
  }
  ul.contacts-address {
    padding-right: 0;
    clear: both;
    width: 100%;
  }
  .contacts-address li {
    font-size: 19px;
    line-height: 24px;
    margin-top: 15px;
  }
  form.contact-form {
    clear: both;
    padding-top: 25px;
  }
  #contacts {
    padding-bottom: 30px;
  }
  form.contact-form textarea,
  form.contact-form input[type="text"] {
    font-size: 16px;
  }
  #our-employee ul.list-of-employee {
    padding-bottom: 0;
  }
  #our-employee ul.list-of-employee li {
    width: 100%;
  }
  #our-employee ul.list-of-employee li img {
    margin-bottom: 15px;
  }
  .middle-title {
    font-size: 28px;
    margin: 15px 0 10px 0;
  }
  .middle-text p {
    font-size: 16px;
    line-height: 27px;
  }
  .middle-text {
    padding: 0 0 15px 0;
  }
  #about-us ul.list-of-our-clients {
    padding-bottom: 5px;
  }
  .about-our-clients-block p {
    font-size: 16px;
    line-height: 27px;
  }
  .about-our-clients-block h4 {
    padding: 0 0 15px 0;
  }
  .our-awards-text {
    padding: 0 10px;
  }
  .our-awards-text p {
    font-size: 16px;
    line-height: 27px;
  }
  .award-date {
    font-size: 15px;
  }
  .award-title {
    font-size: 28px;
    padding-top: 5px;
  }
  #header-inn {
    padding-top: 25px;
  }
  #top-logo {
    float: none;
    width: 284px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
  }
  .services-main-title {
    color: #fff;
    padding: 0 0 20px 0;
    font-size: 27px;
    line-height: 36px;
  }
  .services-bottom-block {
    padding: 0 0 25px;
    margin: 0 0 0px;
    border: 0px;
  }
  .services-bottom-block h4 {
    color: #ccc;
  }
  #sb.services-bottom-block .f-left,
  #sb.services-bottom-block .f-right {
    float: none;
    clear: both;
    width: 100%;
  }
  #sb.services-bottom-block .f-left {
    padding-right: 0;
    margin-bottom: 10px;
  }
  #sb.services-bottom-block .f-right {
    text-align: left;
    padding-left: 0;
  }

  ul.list-of-our-clients li p {
    padding: 0 10px;
  }
  ul.list-of-our-clients li figure {
    margin-bottom: 15px;
  }
  ul.list-of-our-clients li h5 {
    padding: 0 15px 8px 15px;
  }
  ul.list-of-our-clients li {
    margin-bottom: 20px;
    width: 32%;
  }
  #our-employee ul.list-of-employee li {
    margin-bottom: 20px;
  }
  .services-bottom-block .f-left p,
  .services-bottom-block .f-right p {
    line-height: 27px;
  }
  .services-provide-block ul {
    padding-right: 0;
    text-align: left;
  }
  .services-provide-block ul li strong {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .services-provide-block ul li {
    padding-bottom: 25px;
  }
  .services-provide-block ul li p {
    font-size: 16px;
    line-height: 27px;
  }
  .to-employee-btn {
    margin-bottom: 20px;
  }
  .services-provide-block h3:first-child {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .services-provide-block {
    padding-top: 20px;
    text-align: center;
  }
  a.to-employee-btn {
    display: inline-block;
    float: none;
    margin-left: 0;
  }
  .services-bottom-block .f-left h4,
  .services-bottom-block .f-right h4,
  .services-bottom-block .f-left p,
  .services-bottom-block .f-right p {
    color: #fff;
  }
  header,
  #services,
  #contacts {
    background: #55707a;
  }

  #top-menu {
    display: none;
    float: none;
    clear: both;
    overflow: hidden;
    padding: 25px 0 0 0;
  }
  #top-menu a {
    float: none;
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 0 10px 0;
  }
  #top-menu a:last-child {
    margin-bottom: 0;
  }
  .pseudo-menu {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 101px;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
  }
  .our-awards-wrap {
    padding-top: 2px;
  }
}
@media only screen and (max-width: 320px) {
  #bottom-menu a {
    margin-left: 0px;
    font-size: 12px;
  }
  #bottom-menu span {
    padding: 0 5px;
  }
  .foo-inn {
    padding: 15px 0;
  }
  #content-boolean h1,
  #content-boolean p {
    font-size: 13px;
  }
  .contacts-address li {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
  }
  .contacts-info p {
    font-size: 14px;
    line-height: 24px;
  }
  #contacts {
    padding-bottom: 20px;
  }
  .contacts-info strong {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .contacts-info {
    padding: 15px 0;
  }
  #our-employee ul.list-of-employee li h4 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  #our-employee ul.list-of-employee li p {
    font-size: 14px;
    line-height: 24px;
  }
  #our-employee ul.list-of-employee li {
    margin-bottom: 15px;
  }
  ul.list-of-employee {
    padding-top: 0;
  }
  .middle-title {
    font-size: 24px;
  }
  .middle-text p {
    font-size: 14px;
    line-height: 24px;
  }
  #about-us ul.list-of-our-clients li {
    width: 48%;
    margin-bottom: 15px;
  }
  .our-awards-slider {
    height: 176px;
  }
  .about-our-clients-block p {
    font-size: 14px;
    line-height: 24px;
  }
  ul.list-of-our-clients {
    padding-top: 20px;
  }
  ul.list-of-our-clients li figure {
    margin-bottom: 15px;
  }
  ul.list-of-our-clients li p {
    padding: 0 10px;
  }
  ul.list-of-our-clients li h5 {
    padding: 0 15px 7px 15px;
  }
  .about-our-clients-block h4 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  #about-us .our-awards-wrap {
    margin-bottom: 15px;
    padding: 10px 0;
  }
  .our-awards-text p {
    font-size: 14px;
    line-height: 24px;
  }
  a.to-employee-btn {
    margin-left: 0;
    font-size: 16px;
  }
  .services-provide-block h3:first-child {
    font-size: 24px;
    text-align: center;
  }
  .services-provide-block ul li p {
    font-size: 14px;
    line-height: 24px;
  }
  .services-provide-block ul li strong {
    font-size: 18px;
  }
  .services-provide-block ul li {
    padding-bottom: 20px;
  }
  .services-bottom-block .f-left h4,
  .services-bottom-block .f-right h4 {
    font-size: 18px;
  }
  .services-bottom-block .f-left p,
  .services-bottom-block .f-right p {
    font-size: 14px;
    line-height: 24px;
  }
  .services-main-title {
    font-size: 24px;
    line-height: 30px;
  }
  .award-title {
    font-size: 23px;
    padding-top: 0;
    padding-bottom: 8px;
  }
  .award-date {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .pseudo-menu {
    right: 21px;
  }
  #header-inn {
    padding-right: 0;
    padding-left: 0;
  }
  #top-menu {
    padding-left: 30px;
  }
  #about-us .our-awards-wrap {
    padding-top: 0;
  }
}
/*----------------------Print Styles--------------------------*/

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
